.colors-light{
	--img-palette:url('./Image/palette.svg');
	--img-background:url('./Image/sun.svg');
	--col-background:#ece9e0;
	--col-header:#245024;
	--col-accent:green;
	--col-text:#666;
}
.colors-dark{
	--img-palette:url('./Image/palette-dark.svg');
	--img-background:url('./Image/moon.svg');
	--col-background:#2f2f2f;
	--col-header:#649064;
	--col-accent:var(--col-header);
	--col-text:#888;
}
.about-us-body {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
    background-color:var(--col-background);
    flex-wrap: wrap;
	transition:all 0.5s linear;
}


  .expert-care-for-your-lawn-picture {
    width: 100%;
    height: 100%; /* You can set this to a specific height if needed */
    object-fit: cover; /* Cover the area while maintaining aspect ratio */
    overflow: hidden;
  }

.left-column {
    flex: 1;
    padding: 20px;
}

.right-column {
    flex: 1;
	overflow-x:hidden;
    padding: 20px;
	background-image:var(--img-background);
	background-repeat:no-repeat;
	background-position:center;
}
@media(max-width:760px){
	.left-column,.right-column{
		flex:1 1 100%;
	}
}
.about-us-body .tagline-outer-box{
    display: flex;
    /* separate div styling for taglinebox in about us page 
    as it was covering all the space otherwise. Used this
    to cover the space as much required by the text  */
}
.tagline-box-about-us {
    align-items: center;
    border: 2px solid var(--col-accent);
    border-radius: 25px;
    padding: 10px 30px;
    margin-bottom: 20px;
}
.dashed-line {
    border-top: 2px dashed var(--col-accent); /* Dashed top border */
    width: 90%;                 /* Full width of the container */
    height: 1px;                 /* Height of the line */
    margin: 20px 0;              /* Add margin for spacing */
}


.tagline-about-us span {
    
    font-size: 18px;
    font-weight: 400;
    color: green;
}

.about-us-body h1 {
    font-size: 50px;
    font-weight:bold;
    color:var(--col-header);
}

.about-us-body p {
    margin:  10px 0px;
    font-size: 16px;
    color:var(--col-text);
    line-height: 1.6;
}


.vertical-dashed-line {
    border-left: 2px dashed var(--col-accent);
    height: auto;
    margin: 0 20px;
}

#b .icon-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.welcome-to-lawn-care-section h1{
    color: #245024;
}
 .icon-box {
    text-align: center;
    padding: 20px;
	/*Hidden By Default*/
	opacity:0%;
	transform:translateX(100%);
 }

@keyframes fade-in{
	0%{opacity:0%;transform:translateX(100%);}
	100%{transform:translateX(0%);}
	100%{opacity:100%;}
}
@keyframes fade-out{
	0%{opacity:100%;transform:translateX(0%);}
	100%{transform:translateX(100%);}
	100%{opacity:0%;}
}
.icon-box.show{
	opacity:100%;
	transform:translateX(0%);
	animation:fade-in 0.5s ease-out;
}
.icon-box.hide{
	animation:fade-out 0.5s ease-in;
}
.show-btn{
	float:right;
	color:var(--col-accent);
	border:2px solid var(--col-accent);
	border-radius:25px;
	padding:5px 10px;
}

 .icon-box h3 {
    font-size: 20px;
    color:var(--col-header);
    margin: 10px 0;
}

 .icon-box p {
    font-size: 16px;
    color:var(--col-text);
    margin: 10px 0;
    
}

#icon .icon {
    font-size: 40px;
  background-color: darkgreen; /* Circle background color */
  color: white; /* Arrow color */
  border-radius: 25%;
}

.welcome-to-lawn-care-section{
overflow: hidden;
    color: #245024;
    display: flex;
    align-items: center;
flex-grow: 1;
padding: 40px 20px;
background-color: #ece9e0;
flex-direction: column;
}
.welcome-to-lawn-care-section .tagline-outer-box{
    justify-content: center;
    display: flex;
  
}

.welcome-to-lawn-care-section .icons-box-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.welcome-to-lawn-care-section .icons-box{
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;

}
.welcome-to-lawn-care-section .icons-box .column{
 
    margin: 10px;
    flex-direction: column;
}

/* My */
.service-cards-section {
  display: flex;
  flex-direction: column; /* Aligns the heading and cards vertically */
  padding: 20px;
  background: url('./Image/garden-image.jpg') repeat center center; 
  background-size: cover; /* Ensure the image covers the whole container */
  position: relative;
  align-items: center; /* Center content horizontally */
  color: white;
}

.service-cards-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(36, 80, 36, 0.5);
  z-index: 1;
}

.heading {
  text-align: center; /* Centers the heading */
  margin-bottom: 20px; /* Adds space below the heading */
  z-index: 2; /* Ensure it appears above the overlay */
}

.heading h1 {
  font-size: 40px; /* Adjust size as needed */
  font-weight: bold;
  color: #fff; /* Adjust color as needed */

}

.cards-wrapper {
  display: flex;
  gap: 20px; /* Adjust space between cards */
  flex-wrap: wrap;
  justify-content: center; /* Centers the cards within the section */
  z-index: 2; /* Ensure it appears above the overlay */
}

.card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease;
  overflow: hidden; /* Ensure content doesn't overflow */
  z-index: 2;
}

.card:hover {
  background-color: #ece9e0;
  transform: scale(1.02);
}

.card-image {
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.card-content {
  padding: 20px;
}

.card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.card-info span {
  font-size: 14px;
  color: #666;
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.dashed-divider {
  border-left: 1px dashed #666;
  height: 16px;
  margin: 0 10px;
}

.card-title h2 {
  font-size: 20px;
  color: #245024;
  margin-bottom: 10px;
}

.card-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .vertical-dashed-line{
border-left: #ece9e0;  }
  .service-cards-section {
    padding: 0px 20px;
  }
  .cards-wrapper {
    flex-direction: column; /* Stack cards on smaller screens */
  }
  .card {
    width: 100%;
    margin: 10px 0px;
  }
}

.style-btn-super{
	display:flex;
	justify-content:center;
	text-align:center;
	margin-top:10px;
	margin-bottom:7px;
}

.style-btn{
	color:white;
	padding:7px 10px;
	font-weight:bold;
	color:#245024;
	border:2px solid #245024;
	border-radius:25px;
	transition:all 0.3s ease;
}

.style-btn:hover{
	color:white;
	background-color:#245024;
}
.reset-btn{
	margin-left:5px;
	width:35px;
	height:35px;
	border-radius:50%;
	vertical-align:middle;
}
.reset-btn:hover{
	rotate:-360deg;
	transition:rotate 0.5s ease;
}
